body { display: flex; flex-direction: column; }
html, body { cursor: default; height: 100%; margin: 0; overflow: hidden; width: 100%; }
body { font-family: 'Segoe UI',Arial,'Microsoft Yahei',sans-serif; font-size: 75%; }
h1 { flex: 1; font-size: 1.5em; font-weight: normal; line-height: 1; margin: 15px 0;}
