body { font-family: 宋体,Geneva, Arial, Helvetica, sans-serif; font-size: 14px; padding:0px; margin:0px; }
.ManZone { width: 99%; background-color: #FFFFFF; padding: 0px; overflow: auto; margin: 0px; }
.ManZone .ManTitle { width: 100%; height: 30px; line-height: 30px; font-weight: bold; font-size: 14px; border-bottom: 1px dotted #D6E9F7; margin-bottom: 10px; color: #009AD9; }
#GrayTable { background-color: #BBBBBB; width:100%; }
#GrayTable tr { background-color: #FFFFFF; }
#GrayTable .GrayTd{ background-color: #DDDDDD; color: #555555; font-weight: bold; }
#GrayTable .WhiteTd{ background-color: #FFFFFF; color: #555555; font-weight: bold; }
#GrayTable .trHover:Hover{ background-color: #FFCC00; }
