USE [ShenWebObject]
GO
/****** Object:  Table [dbo].[t_Sys_Users]    Script Date: 09/19/2016 18:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_Sys_Users](
	[UserID] [uniqueidentifier] NOT NULL,
	[UserName] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NULL,
	[CreateDate] [datetime] NOT NULL,
	[DeleteFlag] [int] NOT NULL,
 CONSTRAINT [PK_t_Sys_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[t_Sys_Users] ([UserID], [UserName], [Password], [Email], [CreateDate], [DeleteFlag]) VALUES (N'b883eae0-b86e-462d-9adf-618454037a3d', N'system', N'54B53072540EEEB8F8E9343E71F28176', N'2523076936@qq.com', CAST(0x0000A672010E3B78 AS DateTime), 0)
/****** Object:  Table [dbo].[t_Sys_Roles]    Script Date: 09/19/2016 18:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[t_Sys_Roles](
	[RoleID] [uniqueidentifier] NOT NULL,
	[RoleName] [varchar](50) NULL,
	[RoleRemark] [varchar](max) NULL,
	[AllowEdit] [int] NOT NULL,
	[AllowDelete] [int] NOT NULL,
	[SortCode] [int] NULL,
	[DeleteFlag] [int] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[CreatorID] [varchar](50) NULL,
	[ModifyDate] [datetime] NULL,
	[ModifierID] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[t_Sys_Roles] ([RoleID], [RoleName], [RoleRemark], [AllowEdit], [AllowDelete], [SortCode], [DeleteFlag], [CreateDate], [CreatorID], [ModifyDate], [ModifierID]) VALUES (N'0a547f41-022a-4756-b391-0938148cbd54', N'超级管理员', N'可以进行任何操作', 0, 0, 1, 0, CAST(0x0000A675001D87C4 AS DateTime), N'B883EAE0-B86E-462D-9ADF-618454037A3D', CAST(0x0000A675001D87C4 AS DateTime), N'B883EAE0-B86E-462D-9ADF-618454037A3D')
/****** Object:  Table [dbo].[t_Sys_Menus]    Script Date: 09/19/2016 18:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[t_Sys_Menus](
	[MenuID] [uniqueidentifier] NOT NULL,
	[ParentID] [varchar](50) NULL,
	[MenuName] [nvarchar](50) NULL,
	[MenuImg] [nvarchar](100) NULL,
	[MenuType] [int] NULL,
	[NavigateUrl] [nvarchar](200) NULL,
	[SortCode] [int] NULL,
	[DeleteFlag] [int] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
 CONSTRAINT [PK_t_Sys_Menus] PRIMARY KEY CLUSTERED 
(
	[MenuID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[t_Sys_Menus] ([MenuID], [ParentID], [MenuName], [MenuImg], [MenuType], [NavigateUrl], [SortCode], [DeleteFlag], [CreateDate]) VALUES (N'a937318b-2819-4f1e-927a-045885c6f22f', N'b2ea3cb5-5d1e-4ff7-959d-ee186620caf9', N'删除', N'delete.png', -1, N'DELETE()', 3, 0, CAST(0x0000A55C00C3E8B4 AS DateTime))
INSERT [dbo].[t_Sys_Menus] ([MenuID], [ParentID], [MenuName], [MenuImg], [MenuType], [NavigateUrl], [SortCode], [DeleteFlag], [CreateDate]) VALUES (N'faa4ab29-29d3-422b-a602-05d6ba4adf07', N'0', N'数据库管理', N'', 1, NULL, 2, 0, CAST(0x0000A52800DC0FFB AS DateTime))
INSERT [dbo].[t_Sys_Menus] ([MenuID], [ParentID], [MenuName], [MenuImg], [MenuType], [NavigateUrl], [SortCode], [DeleteFlag], [CreateDate]) VALUES (N'969e56de-dfdf-4894-b2a7-06fb165947a5', N'b2ea3cb5-5d1e-4ff7-959d-ee186620caf9', N'分配成员', N'2012081511913.png', -1, N'ALLOWMEMBER()', 4, 0, CAST(0x0000A55C00F2A262 AS DateTime))
/****** Object:  Table [dbo].[t_Sys_Buttons]    Script Date: 09/19/2016 18:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_Sys_Buttons](
	[ButtonID] [uniqueidentifier] NOT NULL,
	[ButtonName] [nvarchar](50) NOT NULL,
	[ButtonImg] [nvarchar](50) NULL,
	[ButtonCode] [nvarchar](50) NULL,
	[ButtonType] [int] NULL,
	[SortCode] [int] NULL,
	[DeleteFlag] [int] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[ButtonRemark] [nvarchar](max) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[t_Sys_Buttons] ([ButtonID], [ButtonName], [ButtonImg], [ButtonCode], [ButtonType], [SortCode], [DeleteFlag], [CreateDate], [ButtonRemark]) VALUES (N'd00a31ce-31b0-4156-944d-095688f7a1ee', N'取消', N'cancel.png', N'OPENCLOSE()', -1, 21, 0, CAST(0x0000A55A010E16FD AS DateTime), N'取消按钮')
INSERT [dbo].[t_Sys_Buttons] ([ButtonID], [ButtonName], [ButtonImg], [ButtonCode], [ButtonType], [SortCode], [DeleteFlag], [CreateDate], [ButtonRemark]) VALUES (N'595a0b61-6946-4b6a-a8bd-10d0905d97e4', N'编辑', N'edit.png', N'EDIT()', -1, 2, 0, CAST(0x0000A54800B6FB64 AS DateTime), N'编辑按钮')
INSERT [dbo].[t_Sys_Buttons] ([ButtonID], [ButtonName], [ButtonImg], [ButtonCode], [ButtonType], [SortCode], [DeleteFlag], [CreateDate], [ButtonRemark]) VALUES (N'79296703-c4c8-45b5-8e2d-179f0bfa1d49', N'导出', N'page_white_excel.png', N'EXPORT()', -1, 7, 0, CAST(0x0000A55A0101F29D AS DateTime), N'导出按钮')
/****** Object:  Table [dbo].[SystemErrorLog]    Script Date: 09/19/2016 18:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemErrorLog](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ErrorType] [nvarchar](100) NULL,
	[ErrorMessage] [nvarchar](200) NULL,
	[PathAndQuery] [nvarchar](100) NULL,
	[ClientIP] [nvarchar](50) NULL,
	[ErrorTime] [datetime] NULL,
	[StackTrace] [nvarchar](max) NULL,
 CONSTRAINT [PK_SystemErrorLog] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SystemErrorLog] ON
SET IDENTITY_INSERT [dbo].[SystemErrorLog] OFF
/****** Object:  UserDefinedFunction [dbo].[SplitToTable]    Script Date: 09/19/2016 18:28:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,谌昊>
-- Create date: <Create Date,,2016-7-6>
-- Description:	<Description,,拆分字符串为表格>
-- =============================================
CREATE FUNCTION [dbo].[SplitToTable]
(
    @SplitString nvarchar(max),
    @Separator nvarchar(10)=' '
)
RETURNS @SplitStringsTable TABLE
(
[id] int identity(1,1),
[value] nvarchar(max)
)
AS
BEGIN
	DECLARE @CurrentIndex int;
    DECLARE @NextIndex int;
    DECLARE @ReturnText nvarchar(max);
    SELECT @CurrentIndex=1;
    WHILE(@CurrentIndex<=len(@SplitString))
        BEGIN
            SELECT @NextIndex=charindex(@Separator,@SplitString,@CurrentIndex);
            IF(@NextIndex=0 OR @NextIndex IS NULL)
                SELECT @NextIndex=len(@SplitString)+1;
                SELECT @ReturnText=substring(@SplitString,@CurrentIndex,@NextIndex-@CurrentIndex);
                INSERT INTO @SplitStringsTable([value]) VALUES(@ReturnText);
                SELECT @CurrentIndex=@NextIndex+1;
            END
    RETURN;
END
GO
/****** Object:  StoredProcedure [dbo].[PROC_T_SYS_UserLogin]    Script Date: 09/19/2016 18:28:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,谌昊>
-- Create date: <Create Date,,2016-8-30>
-- Description:	<Description,,后端用户登录>
-- =============================================
CREATE PROCEDURE [dbo].[PROC_T_SYS_UserLogin]
	-- Add the parameters for the stored procedure here
	@UserName NVARCHAR(50),
	@Password NVARCHAR(50),
	@OUTTotalCount INT OUTPUT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	SELECT @OUTTotalCount = COUNT(*) FROM dbo.t_Sys_Users WHERE UserName = @UserName AND [Password] = @Password
    SELECT UserID, UserName, [Password] FROM dbo.t_Sys_Users WHERE UserName = @UserName AND [Password] = @Password
    
END
GO
/****** Object:  StoredProcedure [dbo].[PROC_T_SYS_SystemErrorLogAdd]    Script Date: 09/19/2016 18:28:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,谌昊>
-- Create date: <Create Date,,2016-9-19>
-- Description:	<Description,,系统错误日志添加>
-- =============================================
CREATE PROCEDURE [dbo].[PROC_T_SYS_SystemErrorLogAdd]
	-- Add the parameters for the stored procedure here
	@ErrorType NVARCHAR(100) = '',
	@ErrorMessage NVARCHAR(200) = '',
	@PathAndQuery NVARCHAR(100) = '',
	@ClientIP NVARCHAR(50) = '',
	@ErrorTime DATETIME,
	@StackTrace NVARCHAR(MAX) = ''
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    INSERT INTO dbo.SystemErrorLog ( ErrorType , ErrorMessage , PathAndQuery , ClientIP , ErrorTime , StackTrace )
    VALUES  ( @ErrorType ,  @ErrorMessage ,  @PathAndQuery ,  @ClientIP ,  @ErrorTime ,  @StackTrace )
    
END
GO
/****** Object:  StoredProcedure [dbo].[PROC_T_SYS_MenuEdit]    Script Date: 09/19/2016 18:28:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,谌昊>
-- Create date: <Create Date,,2016-7-12>
-- Description:	<Description,,菜单编辑>
-- =============================================
CREATE PROCEDURE [dbo].[PROC_T_SYS_MenuEdit]
	-- Add the parameters for the stored procedure here
	@Type INT  = 0, --1: 添加，2: 修改，3: 逻辑删除
	@MenuID UNIQUEIDENTIFIER = '00000000-0000-0000-0000-000000000000',
	@ParentID VARCHAR(50) = '',
	@MenuName NVARCHAR(50) = '', 
	@MenuImg NVARCHAR(100) = '', 
	@MenuType INT = 0, 
	@NavigateUrl NVARCHAR(200) = '', 
	@DeleteFlag INT = 0,
	@SortCode INT = 0
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	-- SET NOCOUNT ON;

	IF(@Type = 1)
	BEGIN
		INSERT INTO dbo.t_Sys_Menus (MenuID, ParentID, MenuName, MenuImg, MenuType, NavigateUrl, SortCode, DeleteFlag, CreateDate)
		VALUES (@MenuID, @ParentID, @MenuName, @MenuImg, @MenuType, @NavigateUrl, @SortCode, 0, GETDATE())
	END
	IF(@Type = 2)
	BEGIN
		UPDATE dbo.t_Sys_Menus
		SET ParentID = @ParentID,
			MenuName = @MenuName,
			MenuImg = @MenuImg,
			MenuType = @MenuType,
			NavigateUrl = @NavigateUrl,
			SortCode = @SortCode
		WHERE MenuID = @MenuID
	END
	IF(@Type = 3)
	BEGIN
		UPDATE dbo.t_Sys_Menus
		SET DeleteFlag = @DeleteFlag
		WHERE MenuID = @MenuID
	END
	
END
GO
/****** Object:  StoredProcedure [dbo].[PROC_T_SYS_MenuDelete]    Script Date: 09/19/2016 18:28:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,谌昊>
-- Create date: <Create Date,,2016-8-30>
-- Description:	<Description,,完全删除菜单数据>
-- =============================================
CREATE PROCEDURE [dbo].[PROC_T_SYS_MenuDelete]
	-- Add the parameters for the stored procedure here
	@MenuID UNIQUEIDENTIFIER = '00000000-0000-0000-0000-000000000000'
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	-- SET NOCOUNT ON;

    DECLARE @myTable TABLE
	(
		MenuID UNIQUEIDENTIFIER
	)
	INSERT INTO @myTable ( MenuID )
	SELECT MenuID FROM dbo.t_Sys_Menus WHERE MenuID = @MenuID
	WHILE (@@ROWCOUNT > 0)
	BEGIN
		INSERT INTO @myTable ( MenuID )
		SELECT MenuID FROM dbo.t_Sys_Menus AS A 
		WHERE ParentID IN (SELECT CONVERT(NVARCHAR(50), MenuID) FROM @myTable ) 
		AND A.MenuID NOT IN (SELECT MenuID FROM @myTable )
	END
	
	DELETE FROM dbo.t_Sys_Menus WHERE MenuID IN (SELECT MenuID FROM @myTable )
	--SELECT * FROM dbo.t_Sys_Menus WHERE MenuID IN (SELECT MenuID FROM @myTable )
    
END
GO
/****** Object:  StoredProcedure [dbo].[PROC_T_SYS_GetUserList]    Script Date: 09/19/2016 18:28:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,谌昊>
-- Create date: <Create Date,,2016-8-31>
-- Description:	<Description,,查询用户列表>
-- =============================================
CREATE PROCEDURE [dbo].[PROC_T_SYS_GetUserList]
	-- Add the parameters for the stored procedure here
	@UserID UNIQUEIDENTIFIER = '00000000-0000-0000-0000-000000000000',
	@UserName NVARCHAR(50) = '',
	@DeleteFlag INT = -1,
	@OUTTotalCount INT OUTPUT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	SELECT @OUTTotalCount = COUNT(*) 
	FROM dbo.t_Sys_Users(NOLOCK) AS A 
    WHERE  1 = 1 
    AND (@UserID IS NULL OR @UserID = '00000000-0000-0000-0000-000000000000' OR @UserID = A.UserID) 
    AND (@UserName IS NULL OR @UserName = '' OR @UserName = A.UserName)
    AND (@DeleteFlag IS NULL OR @DeleteFlag = -1 OR @DeleteFlag = A.DeleteFlag)

    SELECT ROW_NUMBER() OVER(ORDER BY CreateDate DESC) AS RowNo, UserID, UserName, [Password], Email, CreateDate, DeleteFlag
    FROM dbo.t_Sys_Users(NOLOCK) AS A 
    WHERE  1 = 1 
    AND (@UserID IS NULL OR @UserID = '00000000-0000-0000-0000-000000000000' OR @UserID = A.UserID) 
    AND (@UserName IS NULL OR @UserName = '' OR @UserName = A.UserName)
    AND (@DeleteFlag IS NULL OR @DeleteFlag = -1 OR @DeleteFlag = A.DeleteFlag)
    
END
GO
/****** Object:  StoredProcedure [dbo].[PROC_T_SYS_GetRoleList]    Script Date: 09/19/2016 18:28:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,谌昊>
-- Create date: <Create Date,,2016-9-2>
-- Description:	<Description,,查询角色列表>
-- =============================================
CREATE PROCEDURE [dbo].[PROC_T_SYS_GetRoleList]
	-- Add the parameters for the stored procedure here
	@RoleID UNIQUEIDENTIFIER = '00000000-0000-0000-0000-000000000000',
	@RoleName NVARCHAR(50) = '',
	@DeleteFlag INT = -1,
	@OUTTotalCount INT OUTPUT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	SELECT @OUTTotalCount = COUNT(*)
    FROM ShenWebObject.dbo.t_Sys_Roles(NOLOCK) AS A
    WHERE 1 = 1
    AND(@RoleID IS NULL OR @RoleID = '00000000-0000-0000-0000-000000000000' OR A.RoleID = @RoleID)
    AND(@RoleName IS  NULL OR @RoleName = '' OR A.RoleName = @RoleName)
    AND(@DeleteFlag IS NULL OR @DeleteFlag = -1 OR A.DeleteFlag = @DeleteFlag)

    SELECT RoleID, RoleName, RoleRemark, AllowEdit, AllowDelete, SortCode, 
           DeleteFlag, CreateDate, CreatorID, ModifyDate, ModifierID 
    FROM ShenWebObject.dbo.t_Sys_Roles(NOLOCK) AS A
    WHERE 1 = 1
    AND(@RoleID IS NULL OR @RoleID = '00000000-0000-0000-0000-000000000000' OR A.RoleID = @RoleID)
    AND(@RoleName IS  NULL OR @RoleName = '' OR A.RoleName = @RoleName)
    AND(@DeleteFlag IS NULL OR @DeleteFlag = -1 OR A.DeleteFlag = @DeleteFlag)
    
END
GO
/****** Object:  StoredProcedure [dbo].[PROC_T_SYS_GetMenuList]    Script Date: 09/19/2016 18:28:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,谌昊>
-- Create date: <Create Date,,2016-7-5>
-- Description:	<Description,,查询菜单>
-- =============================================
CREATE PROCEDURE [dbo].[PROC_T_SYS_GetMenuList]
	-- Add the parameters for the stored procedure here
	@MenuID UNIQUEIDENTIFIER = '00000000-0000-0000-0000-000000000000',
	@ParentID VARCHAR(50) = '',
	@MenuName NVARCHAR(50) = '',
	@MenuType INT = 0,
	@DeleteFlag INT = 0, --删除标记：-1 全部，0 未删除， 1 已删除
	@OUTTotalCount INT OUTPUT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	SELECT @OUTTotalCount = COUNT(*) FROM dbo.t_Sys_Menus
	WHERE 1 = 1
	AND (@MenuID IS NULL OR @MenuID = '00000000-0000-0000-0000-000000000000' OR MenuID = @MenuID)
	AND (@ParentID IS NULL OR @ParentID = '' OR ParentID = @ParentID)
	AND (@MenuName IS NULL OR @MenuName  = '' OR MenuName = @MenuName)
	AND (@MenuType IS NULL OR @MenuType = 0 OR MenuType = @MenuType)
	AND (@DeleteFlag IS NULL OR @DeleteFlag = -1 OR DeleteFlag = @DeleteFlag)
	
	SELECT ROW_NUMBER() OVER(ORDER BY SortCode ASC) AS RowNo, MenuID, ParentID, MenuName, MenuImg, MenuType, NavigateUrl, SortCode, DeleteFlag, CreateDate FROM dbo.t_Sys_Menus
	WHERE 1 = 1
	AND (@MenuID IS NULL OR @MenuID = '00000000-0000-0000-0000-000000000000' OR MenuID = @MenuID)
	AND (@ParentID IS NULL OR @ParentID = '' OR ParentID = @ParentID)
	AND (@MenuName IS NULL OR @MenuName  = '' OR MenuName = @MenuName)
	AND (@MenuType IS NULL OR @MenuType = 0 OR MenuType = @MenuType)
	AND (@DeleteFlag IS NULL OR @DeleteFlag = -1 OR DeleteFlag = @DeleteFlag)
    
END
GO
/****** Object:  StoredProcedure [dbo].[PROC_T_SYS_GetMenuAndChildrenByID]    Script Date: 09/19/2016 18:28:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,谌昊>
-- Create date: <Create Date,,2016-9-1>
-- Description:	<Description,,根据菜单ID查询菜单与子菜单>
-- =============================================
CREATE PROCEDURE [dbo].[PROC_T_SYS_GetMenuAndChildrenByID]
	-- Add the parameters for the stored procedure here
	@MenuID UNIQUEIDENTIFIER = '00000000-0000-0000-0000-000000000000'
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	DECLARE @myTable TABLE
	(
		MenuID UNIQUEIDENTIFIER
	)
	
	INSERT INTO @myTable ( MenuID )
    SELECT MenuID FROM dbo.t_Sys_Menus(NOLOCK) AS A WHERE A.MenuID = @MenuID
    
    WHILE(@@ROWCOUNT > 0)
    BEGIN
		INSERT INTO @myTable ( MenuID )
		SELECT MenuID FROM dbo.t_Sys_Menus(NOLOCK) AS A 
		WHERE ParentID IN (SELECT CONVERT(NVARCHAR(50), MenuID) FROM @myTable)
		AND A.MenuID NOT IN (SELECT MenuID FROM @myTable)
    END
    
    SELECT MenuID, ParentID, MenuName, MenuImg, MenuType, NavigateUrl,
           SortCode, DeleteFlag, CreateDate 
	FROM dbo.t_Sys_Menus WHERE MenuID IN (SELECT MenuID FROM @myTable)
    
END
GO
/****** Object:  StoredProcedure [dbo].[PROC_T_SYS_GetButtonList]    Script Date: 09/19/2016 18:28:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,谌昊>
-- Create date: <Create Date,,2016-8-22>
-- Description:	<Description,,查询按钮>
-- =============================================
CREATE PROCEDURE [dbo].[PROC_T_SYS_GetButtonList]
	@ButtonID UNIQUEIDENTIFIER = '00000000-0000-0000-0000-000000000000',
	@ButtonName NVARCHAR(50) = '',
	@DeleteFlag INT = 0, --删除标记：-1 全部，0 未删除， 1 已删除
	@OUTTotalCount INT OUTPUT,
	@PageIndex INT = 0,
	@PageSize INT = 0
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	SELECT @OUTTotalCount = COUNT(*) FROM ShenWebObject.dbo.t_Sys_Buttons(NOLOCK) AS A
	WHERE 1 = 1 
	AND (@ButtonID IS NULL OR @ButtonID = '00000000-0000-0000-0000-000000000000' OR A.ButtonID = @ButtonID)
	AND (@ButtonName IS NULL OR @ButtonName = '' OR A.ButtonName = @ButtonName)
	AND (@DeleteFlag IS NULL OR @DeleteFlag = -1 OR A.DeleteFlag = @DeleteFlag)
	
	SELECT * FROM 
	(
		SELECT ROW_NUMBER() OVER(ORDER BY A.SortCode ASC) AS RowNo, A.* FROM ShenWebObject.dbo.t_Sys_Buttons(NOLOCK) AS A
		WHERE 1 = 1 
		AND (@ButtonID IS NULL OR @ButtonID = '00000000-0000-0000-0000-000000000000' OR A.ButtonID = @ButtonID)
		AND (@ButtonName IS NULL OR @ButtonName = '' OR A.ButtonName = @ButtonName)
		AND (@DeleteFlag IS NULL OR @DeleteFlag = -1 OR A.DeleteFlag = @DeleteFlag)
    ) AS T WHERE T.RowNo > ((@PageIndex - 1) * @PageSize) AND T.RowNo <= (@PageIndex * @PageSize)
    
END
GO
/****** Object:  Default [DF_t_Sys_Buttons_DeleteFlag]    Script Date: 09/19/2016 18:28:08 ******/
ALTER TABLE [dbo].[t_Sys_Buttons] ADD  CONSTRAINT [DF_t_Sys_Buttons_DeleteFlag]  DEFAULT ((0)) FOR [DeleteFlag]
GO
/****** Object:  Default [DF_t_Sys_Buttons_CreateDate]    Script Date: 09/19/2016 18:28:08 ******/
ALTER TABLE [dbo].[t_Sys_Buttons] ADD  CONSTRAINT [DF_t_Sys_Buttons_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
/****** Object:  Default [DF_t_Sys_Menus_DeleteFlag]    Script Date: 09/19/2016 18:28:08 ******/
ALTER TABLE [dbo].[t_Sys_Menus] ADD  CONSTRAINT [DF_t_Sys_Menus_DeleteFlag]  DEFAULT ((0)) FOR [DeleteFlag]
GO
/****** Object:  Default [DF_t_Sys_Menus_CreateDate]    Script Date: 09/19/2016 18:28:08 ******/
ALTER TABLE [dbo].[t_Sys_Menus] ADD  CONSTRAINT [DF_t_Sys_Menus_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
/****** Object:  Default [DF_t_Sys_Users_CreateDate]    Script Date: 09/19/2016 18:28:08 ******/
ALTER TABLE [dbo].[t_Sys_Users] ADD  CONSTRAINT [DF_t_Sys_Users_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
/****** Object:  Default [DF_t_Sys_Users_DeleteFlag]    Script Date: 09/19/2016 18:28:08 ******/
ALTER TABLE [dbo].[t_Sys_Users] ADD  CONSTRAINT [DF_t_Sys_Users_DeleteFlag]  DEFAULT ((0)) FOR [DeleteFlag]
GO
